@import './base.css';

main {
  padding: 0 5% 0 5%;
  background: radial-gradient(circle at 100%, #fff, #fff 50%, #f1f1f1 75%, #fff 75%);
  min-height: 100vh;
}

main {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

footer {
  position: fixed;
  background-color: white;
  z-index: 100;
  bottom: 1em;
  right: 0;
  border-radius: 0.1rem;
  padding: 1rem 5% 1rem 5%;
  border-bottom: 1px solid #000;
}

header {
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 1rem;
  right: 0;
  border-radius: 0.1rem;
  padding: 1rem 5% 1rem 5%;
  border-bottom: 1px solid #000;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

p,
a,
button,
label,
input {
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}

label,
input,
button {
  display: block;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.1rem;
}

button:hover {
  color: #cb0000;
  border-color: #cb0000;
  transition: 0.2s;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  margin-bottom: 3rem;
  padding: 0.5rem;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #cb0000;
}

input::placeholder {
  color: #363636;
}

input:focus::placeholder {
  color: #cb0000;
}

input::placeholder {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

a:hover {
  padding-bottom: 1px;
  transition: 0.2s;
  color: #cb0000;
}

li {
  list-style-type: none;
}

i:hover {
  color: #cb0000;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}
